<!DOCTYPE html>
<html>
  <head>
    <title>apsis overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src={{url_for('static', filename='sorttable.js')}}></script>
  </head>
  <body>
    <div class="container">
      <h1>Apsis overview page</h1>
      <br>
      Currently running experiments:
      <table class="sortable">
            <tr>
                <th>name</th>
                <th>id</th>
                <th>last updated</th>
                <th colspan="3">candidates<br> f/w/p</th>
                <th>notes</th>
            </tr>
            {% for e in experiments%}
        <tr>
              <td>{{e["name"]}}</td>
              <td><a href={{ "/experiments/" ~ e["exp_id"]}}> {{e["exp_id"]}}</a></td>
              <td>{{format_datetime(e["last_update_time"])}}</td>
              <td>{{e["candidates_finished"]|length}}</td>
              <td>{{e["candidates_working"]|length}}</td>
              <td>{{e["candidates_pending"]|length}}</td>
              <td>{{e["notes"]}}</td>
          </tr>
            {% endfor %}
         </table>
    </div>
  </body>
</html>


